* {
  background-color: white;
}


#output {
  text-align: center;
}

#navBar {
  text-align: right;
}

.nav{
  color: #696969;
  display: inline-block;
  margin-right: 10px;
  margin-bottom: 40px;
}

section {
  text-align: center;
}

img {
  text-align: center;
  margin: 0 auto;
}

.mePic{
  border-radius: 70px;
}

.googleImg{
}

#myForm {
  margin-top: 30px;
  margin-bottom: 30px;
  width: 350px;
  height: 25px;
}

button {
  margin: auto;
}

img:hover {
margin-left: 250px;
}

footer {
  margin-top: 50px;
}
